Footer {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border: 5px orange solid;
}

Footer h2 {
  font-size: 25px;
  margin: 20px 0px;
  color: orange;
  font-style: italic;
}
